<div class="container bg">

    <div class="row">
        <div class="center col-sm-12 header">
            <h1 id="crazyHead">Crazy</h1>
            <h1 id="talk">Talk</h1>

        </div>
    </div>
    <br>
    <br>
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <img id="smileys" src="https://www.smilemakerscanada.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/B/L/BL346.jpg">


                <div class="row" id="bar">
                    <h2 class="normie1">ENTER SOME</h2>
                    <h2 id="crazy">CrazY</h2>
                    <h2 class="normie2">WORDS!</h2>
                </div>
                <form id="forms" action="/story" method="POST">
                    <input type="hidden" name="storyID" value="{{storyID}}">
                    <input type="hidden" name="inputCount" value="{{inputCount}}">
                    {{#each input}}
                    <div class="words">
                        {{this.type}}: <input type="text" name="input{{this.id}}">
                        <br>
                    </div>
                    {{/each}}
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                    <button id="submitButton" class="btn-primary" type="submit">SUBMIT</button>
                    </div>
                </form>

            </div>



        </div>


    </div>

</div>