<form action="/saveNewStory" method="POST">
    <textarea name="story" maxlength="750" rows="20" style="width:75%; margin:0 12.5%"></textarea>
    <br>
    <button id="submitButton" type="submit" class="btn-primary">SUBMIT</button>
</form>