<form action="/saveNewStory" method="POST" id="newStoryForm">
    <textarea id="newStoryTextField" name="story" maxlength="750" rows="20" style="width:75%; margin:0 12.5%"></textarea>
    <br>
    <button id="newStorySubmit" type="submit" class="btn-primary">SUBMIT</button>
</form>