<div class="container bg">
    <div class="row">
        <div class="center col-sm-12 header">
            <h1 id="crazyHead">Crazy</h1>
            <h1 id="talk">Talk</h1>
        </div>
    </div>
    <p id="example">Submit your own story here, and wrap the words you want to be blanks with &lt; and &gt;.
        Example: The &lt;noun&gt; went to the &lt;location&gt; then &lt;verb; ending in ed&gt; all the way home.
    </p>

    <form action="/saveNewStory" method="POST" id="newStoryForm">
        <textarea id="newStoryTextField" name="story" maxlength="750" rows="20" style="width:75%; margin:0 12.5%"></textarea>
        <br>
        <button id="newStorySubmit" type="submit" class="btn-primary">SUBMIT</button>
    </form>
</div>