<div class="container bg">
    <div class="row">
        <div class="center col-sm-12 header">
            <h1 id="crazyHead">Crazy</h1>
            <h1 id="talk">Talk</h1>

        </div>
    </div>

    <div class="row" id="story">
        <div class="col-12">
            <p>{{story}}</p>
        </div>
    </div>
</div>