<div class="container bg">

    <div class="row">
        <div class="center col-sm-12 header">
            <h1 id="crazyHead">Crazy</h1>
            <h1 id="talk">Talk</h1>

        </div>
    </div>

    <div class="row" id="story">
        <p>{{story}}</p>
    </div>
        <div class="row">
        <form action="/saveStory" method="POST">
            <input name="entries" type="hidden" value="{{entries}}">
            <input name="storyID" type="hidden" value="{{storyID}}">
            <input id="userNameBox" placeholder="Enter Username Here!" name="username" type="text">
            <button id="saveButton" type="submit">SAVE</button>
        </form>
    </div>
</div>>