<div class="container bg">

    <div class="row">
        <div class="center col-sm-12">
            <img src="#" alt="Crazy Talk">
            <h1>Crazy Talk</h1>

        </div>
    </div>

<div class="row" id="story">
    <p></p>
</div>