html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    border: 5px solid white;
    height: 85%;
    box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    margin: 3%;
    animation: pulse 3s infinite;
    line-height: 0.5;
}
  
@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    }
    50% {
        box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff009d , 0 0 70px #ff009d , 0 0 80px #ff009d , 0 0 100px #ff009d ;
    }
  }

.header {
    text-align:center;
    padding-top: 2%;
}

#crazyHead {
    font-size: 355%;
    font-family: 'Monoton', cursive;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
      
#crazyHead:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff009d , 0 0 70px #ff009d , 0 0 80px #ff009d , 0 0 100px #ff009d ;

}

#talk {
    font-size: 355%;
    font-family: 'Monoton', cursive;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff009d , 0 0 70px #ff009d , 0 0 80px #ff009d , 0 0 100px #ff009d ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
          
#talk:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

#crazy {
    font-size: 26px;
    margin-left: 15px;
    font-family: 'Monoton', cursive;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ff00 , 0 0 70px #00ff00 , 0 0 80px #00ff00 , 0 0 100px #00ff00 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#crazy:hover {
    text-shadow: -3px 0 0 rgb(250, 0, 54) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.normie1 {
    font-family: 'FifteenTwentyRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-weight: bolder;
    text-shadow: 3px 3px black;
    margin-left: 5%;
    color: white;
    font-size: 36px;
}

.normie2 {
    font-family: 'FifteenTwentyRegular'; 
    font-weight: normal; 
    font-style: normal; 
    padding-left: 1%;
    font-weight: bolder;
    text-shadow: 3px 3px black;
    color: white;
    font-size: 36px;
}

.words{
    display: inline-block;
    float: left;
    width: 38%;
    text-align: right;
    font-family: 'FifteenTwentyRegular'; 
    font-weight: normal; 
    font-style: normal; 
    color: white;
    margin: 2px;
}

input {
  display: inline-block;
  font-family: 'FifteenTwentyRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: black;
}

#story {
    font-family: 'FifteenTwentyRegular'; 
    font-weight: normal; 
    font-style: normal; 
    padding-left: 1%;
    font-weight: bolder;
    text-shadow: 3px 3px black;
    color: white;
    font-size: 100%;
    line-height: 1.5;
}
  
#submitButton {
    line-height: 1.5;
    font-family: 'Monoton', cursive;
    position: absolute;
    color: white;
    font-size: 250%;
    padding-top: 1%;
    top: 126%;
    left: 42%;
    text-shadow: 0 0 18px rgba(255,255,255,1) , 0 0 0 rgba(255,255,255,1) , 0 0 0 rgba(255,255,255,1) , 0 0 20px #00ff00 , 0 0 35px #00ff00 , 0 0 40px #00ff00 , 0 0 50px #00ff00 ;
    background-color: transparent;
    border-color: transparent;
}

#saveButton {
    line-height: 1.5;
    font-family: 'Monoton', cursive;
    position: absolute;
    color: white;
    font-size: 250%;
    padding-top: 1%;
    top: 76%;
    left: 23%;
    text-shadow: 0 0 18px rgba(255,255,255,1) , 0 0 0 rgba(255,255,255,1) , 0 0 0 rgba(255,255,255,1) , 0 0 20px #00ff00 , 0 0 35px #00ff00 , 0 0 40px #00ff00 , 0 0 50px #00ff00 ;
    background-color: transparent;
    border-color: transparent;
}

#userNameBox {
    position: absolute;
    bottom: 14%;
    line-height: 2;
}

#smileys {
    width: 23%;
    height: 100%;
    float: right;
    transform: rotateY(180deg);
}
@media only screen and (max-width: 1199px){
    .words{
        font-size: 90%;
    }
}
@media only screen and (max-width: 991px){
    .words{
         width: 33%;
         font-size: 100%;
    }
    #smileys{
         width: 23%;
         height: 84%;
}
#submitButton{
    top: 100%;
}
#saveButton {
    left: 40%;
}
}

@media only screen and (max-width: 772px){
    .normie1{
        font-size: 150%;
    }
    .normie2{
        font-size: 150%;
        padding-left: 3%;
    }
    #crazy{
        font-size: 117%;
    }
    .words{
        font-size: 85%;
    }
    #submitButton{
        left: 33%;
    }
    input{
        width: 76%;
    }
    #userNameBox {
        width: 22%;
    }
}

@media only screen and (max-width: 520px){
    .words{
        width: 39%;
        font-size:78%;
    }
    input{
        width: 76%;
    }
    #submitButton{
        top: 110%;
    }
    #smileys{
        width: 20%;
    height: 84%;
    }
}

@media only screen and (max-width: 492px){
    .normie1, .normie2 {
        font-size: 130%;
    }
}

@media only screen and (max-width: 467px){
    #smileys{
        width: 18%;
        height: 59%;
    }
}

@media only screen and (max-width: 360px){
    #crazyHead{
        font-size: 263%;
    }
    #talk{
        font-size: 263%;
    }
    #smileys{
        visibility: hidden;
    }
    #crazy{
        font-size: 93%;
        margin-left: 6px;
    }
    .normie1{
        font-size: 100%
    }
    .normie2{
        font-size: 100%
    }
    #submitButton {
        top: 100%;
        left: 22%;
    }
    .words {
        width: 79%;
        font-size: 103%;
    }
    body {
        height: 100%;
    }
    #saveButton {
        top: 88%;
        left: 30%;
    }
}